/* Ensure no horizontal scroll */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Main content after carousel */
main {
  background-color: rgb(5, 24, 32); // optional, same as banner fade

  padding: 2rem 1rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
}
